 /*____   __         __           _ 
  / ___| /_/ _ __   /_/ _ __ __ _| |
 | |  _ / _ \ '_ \ / _ \ '__/ _` | |
 | |_| |  __/ | | |  __/ | | (_| | |
  \____|\___|_| |_|\___|_|  \__,_|_|*/
                                    

body {font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; border: 3px dashed yellow}
/*header {background-color: pink; border: 2px solid purple}*/

main {padding: 0 5%}
article {border: 1px solid grey; margin: 10px; padding: 10px; font-size: 90%;}

h1, h2 {text-align: center}


 /*   _             _             _   _             
 | \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
 |  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                      |___/      					*/


nav ul li:last-child {text-align: -webkit-right; padding-inline-end: 50px;}

nav .row {align-items: center}
nav .col {text-align: center; background-color: rgba(126,196,255,0.21); line-height: 100px; transition: 1s ease}

nav .col:hover {background-color: rgba(126,196,255,0.1)}
nav ul li:last-child .col:hover {background-color: rgba(126,196,255,0.21)}

/* Normalize */
ul {display: block; margin-block-start: 0; margin-block-end: 0;}

/*_____ _      _        _       
 |_   _(_) ___| | _____| |_ ___ 
   | | | |/ __| |/ / _ \ __/ __|
   | | | | (__|   <  __/ |_\__ \
   |_| |_|\___|_|\_\___|\__|___/*/
                                

.create-ticket {display: flex; flex-direction: column;}
.create-ticket input, .create-ticket textarea {margin: 5px; padding: 10px; max-width: 95%; min-width: 95%;}
.create-ticket .btn-create-ticket {width: 200px; padding: 10px; margin: 10px auto;}

.ticket_card {border: 1px dashed grey; padding: 10px; margin: 10px; display: flex; flex-direction: row;}
.ticket_card .left_card {width: 70%;}
.ticket_card .right_card {width: 20%;}