 /*____   __         __           _ 
  / ___| /_/ _ __   /_/ _ __ __ _| |
 | |  _ / _ \ '_ \ / _ \ '__/ _` | |
 | |_| |  __/ | | |  __/ | | (_| | |
  \____|\___|_| |_|\___|_|  \__,_|_|*/
                                    

body {font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; border: 3px dashed yellow}
/*header {background-color: pink; border: 2px solid purple}*/

main {padding: 0 5%}


h1, h2 {text-align: center}
.headerTitle {background-image:url("https://wallpaperaccess.com/full/497086.jpg"); background-size: cover; background-position: 50%; height: 200px; display: flex; flex-direction: column; justify-content: center; border-bottom: 2px solid black}
h1 {margin: 0; color: white}
h1 a {color: white; background-color: rgba(0,0,0,0.23); padding: 30px;}

.userLink {color: black}
.userLink:hover {text-decoration: none}


 /*   _             _             _   _             
 | \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
 |  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                      |___/      					*/

nav ul li:last-child {text-align: -webkit-right; padding-inline-end: 50px;}

nav ul {display: flex;}
nav .col {text-align: center; background-color: rgba(177,175,154,0.20); line-height: 100px; transition: 1s ease}

nav .col:hover {background-color: rgba(126,196,255,0.1)}
nav ul li:last-child .col:hover {background-color: rgba(126,196,255,0.21)}

/* Normalize */
ul {display: block; margin-block-start: 0; margin-block-end: 0;}


 /*___             __ _ _ 
 |  _ \ _ __ ___  / _(_) |
 | |_) | '__/ _ \| |_| | |
 |  __/| | | (_) |  _| | |
 |_|   |_|  \___/|_| |_|_|*/

.profil {text-align: center;}

.profil article {background-color: rgba(0,0,0,0.05); padding: 20px 0 10px 0; margin: 0 0 50px 0}

.avatarProfil {width: 60px}
.usernameProfil {font-weight: bolder; font-size: 19px; color:rgba(0,0,0,0.70)}                         


/*_____ _      _        _       
 |_   _(_) ___| | _____| |_ ___ 
   | | | |/ __| |/ / _ \ __/ __|
   | | | | (__|   <  __/ |_\__ \
   |_| |_|\___|_|\_\___|\__|___/*/
                                
.create-ticket {display: flex; flex-direction: column;}
.create-ticket input, .create-ticket textarea {margin: 5px; padding: 10px; max-width: 95%; min-width: 95%;}

.ticket_card {border: 1px dashed grey; padding: 10px; margin: 10px; display: flex; flex-direction: row;}

.ticket_card .left_card {width: 70%;}
.ticket_card .right_card {width: 20%;}

.row {padding: 0}

.ticket-single {background-color: rgba(0,0,0,0.05); margin: 10px 0}

.status-accepted {color: rgba(36,189,53,1.00)}
.status-refused {color: red}

.contribution-accepted {background-color: rgba(1,175,0,0.05)}
.contribution-pending {background-color: rgba(255,233,109,0.07)}
.contribution-refused {background-color: rgba(255,91,93,0.07)}

.modal-correctionSended {text-align: center; padding: 20px; margin-top: 50%; background-color: rgba(196,255,201,1.00)}
.bg-success {padding: 10px;}