 /*____   __         __           _ 
  / ___| /_/ _ __   /_/ _ __ __ _| |
 | |  _ / _ \ '_ \ / _ \ '__/ _` | |
 | |_| |  __/ | | |  __/ | | (_| | |
  \____|\___|_| |_|\___|_|  \__,_|_|*/
                                    

body {font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; background-image: url("https://www.zupimages.net/up/19/40/tlrn.jpg"); background-repeat: repeat; font-size: 1rem}
/*header {background-color: pink; border: 2px solid purple}*/

main {padding: 0 5%}


h1, h2 {text-align: center}
.headerTitle {background-image:url("https://wallpaperaccess.com/full/497086.jpg"); background-size: cover; background-position: 50%; height: 100px; display: flex; flex-direction: column; justify-content: center; border-bottom: 2px solid black}
h1 {margin: 0; color: white}
h1 a {color: white; background-color: rgba(0,0,0,0.23); padding: 30px;}

.userLink {color: black}
.userLink:hover {text-decoration: none}


 /*   _             _             _   _             
 | \ | | __ ___   _(_) __ _  __ _| |_(_) ___  _ __  
 |  \| |/ _` \ \ / / |/ _` |/ _` | __| |/ _ \| '_ \ 
 | |\  | (_| |\ V /| | (_| | (_| | |_| | (_) | | | |
 |_| \_|\__,_| \_/ |_|\__, |\__,_|\__|_|\___/|_| |_|
                      |___/      					*/

nav ul li:last-child {text-align: -webkit-right; padding-inline-end: 50px;}

nav ul {display: flex;}
nav .col {text-align: center; background-color: rgba(255,255,255,1); line-height: 100px; border-bottom: 2px solid rgba(0,0,0,0.1); transition: 1s ease;}

nav .col:hover {background-color: rgba(255,255,255,1)}
nav ul li:last-child .col:hover {background-color: rgba(255,255,255,1)}

/* Normalize */
ul {display: block; margin-block-start: 0; margin-block-end: 0;}


 /*___             __ _ _ 
 |  _ \ _ __ ___  / _(_) |
 | |_) | '__/ _ \| |_| | |
 |  __/| | | (_) |  _| | |
 |_|   |_|  \___/|_| |_|_|*/

.profil {text-align: center;}

.profil article {background-color: rgba(0,0,0,0.05); padding: 20px 0 10px 0; margin: 0 0 50px 0}

.avatarProfil {width: 60px}
.usernameProfil {font-weight: bolder; font-size: 19px; color:rgba(0,0,0,0.70)}                         


/*_____ _      _        _       
 |_   _(_) ___| | _____| |_ ___ 
   | | | |/ __| |/ / _ \ __/ __|
   | | | | (__|   <  __/ |_\__ \
   |_| |_|\___|_|\_\___|\__|___/*/
                                
.create-ticket {display: flex; flex-direction: column;}
.create-ticket input, .create-ticket textarea {margin: 5px; padding: 10px; max-width: 95%; min-width: 95%;}

.row {padding: 0}

/* Design d'un ticket 
______________________________________________________*/

.ticket-single {background-color: rgba(255,255,255,0.85); margin: 10px 0; box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.7); border-radius: 0px; overflow: hidden}

.card-title {font-size: 1rem; font-weight: bolder}
.card-text-date {font-size: 0.8rem; color: rgba(0,0,0,0.5)}
.card-text-author {font-size: 0.9rem}

.contributors {}

/*______________________________________________________*/

.status-accepted {color: rgba(36,189,53,1.00)}
.status-refused {color: red}



 /*____                         _   _                 
  / ___|___  _ __ _ __ ___  ___| |_(_) ___  _ __  ___ 
 | |   / _ \| '__| '__/ _ \/ __| __| |/ _ \| '_ \/ __|
 | |__| (_) | |  | | |  __/ (__| |_| | (_) | | | \__ \
  \____\___/|_|  |_|  \___|\___|\__|_|\___/|_| |_|___/ */
   

.modal-correctionSended {text-align: center; padding: 20px; margin-top: 50%; background-color: rgba(196,255,201,1.00)}
.bg-success {padding: 10px;}

.text-added {/*font-weight:bold;*/ text-decoration: none; background-color: #d4fcbc;}
.text-deleted { /*font-weight:bold;*/ background-color: #fbb;}


 /*____            _        _ _           _   _                 
  / ___|___  _ __ | |_ _ __(_) |__  _   _| |_(_) ___  _ __  ___ 
 | |   / _ \| '_ \| __| '__| | '_ \| | | | __| |/ _ \| '_ \/ __|
 | |__| (_) | | | | |_| |  | | |_) | |_| | |_| | (_) | | | \__ \
  \____\___/|_| |_|\__|_|  |_|_.__/ \__,_|\__|_|\___/|_| |_|___/ */
                                                                

.contribution-accepted {background-color: rgba(1,175,0,0.05)}
.contribution-pending {background-color: rgba(255,233,109,0.07)}
.contribution-refused {background-color: rgba(255,91,93,0.07)}


/*_              _     _           
 | |    __ _  __| | __| | ___ _ __ 
 | |   / _` |/ _` |/ _` |/ _ \ '__|
 | |__| (_| | (_| | (_| |  __/ |   
 |_____\__,_|\__,_|\__,_|\___|_|   */


.ladder-table {background-color: white}

.ladder-table thead {border: none}

.ladder-table tbody {font-size: 0.9rem}

.ladder-table tbody tr:first-child {background-color:rgba(255,244,200,0.60)}
.ladder-table tbody tr:first-child:hover {background-color:rgba(255,244,100,0.60)}
.ladder-table tbody tr:nth-child(2) {background-color:rgba(229,229,229,0.40)}
.ladder-table tbody tr:nth-child(2):hover {background-color:rgba(200,200,200,0.40)}
.ladder-table tbody tr:nth-child(3) {background-color: rgba(255,214,113,0.20)}
.ladder-table tbody tr:nth-child(3):hover {background-color: rgba(255,200,50,0.30)}  
.ladder-table tbody tr:hover {background-color: rgba(0,0,0,0.01)}


